<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">
      <img src="assets/img/img-iconoPrincipal-nabar.png" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      PORTAFOLIO WEB
    </a>
    <div class="collapse navbar-collapse order-lg-1" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto me-5">
        <li class="nav-item">
          <a class="nav-link roboto-condensed" href="#"><b>DATOS GENERALES</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link roboto-condensed" href="#"><b>DATOS ESPECIFICOS</b></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle roboto-condensed" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <b>CONTACTO</b>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <article>
    <section class="hero" id="home">
      <div class="container">

        <h2 class="h1 hero-title">Portafolio Web </h2>

        <p class="hero-text">
          Ac mi duis mollis. Sapiente? Scelerisque quae, penatibus? Suscipit class corporis nostra rem quos
          voluptatibus habitant?
          Fames, vivamus minim nemo enim, gravida lobortis quasi, eum.
        </p>

        <div class="btn-group">
          <button class="btn btn-primary">Learn more</button>

          <button class="btn btn-secondary">Book now</button>
        </div>
      </div>
    </section>
  </article>
</main>